{% extends "base.html" %}
{% block title %}Seed{% endblock %}
{% block body %}
<h2>Seed Listing</h2>
  <table>
      <tr>
          <th>Seed Lot</th>
          <th>Plant</th>
          <th>Location</th>
          <th>Collection Date</th>
          <th>Actions</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ item.collection_lot }}</td>
          <td>{{ item.flora.name }}</td>
          <td>{{ item.location.name }}</td>
          <td>{{ item.collection_date }}</td>
          <td><a href="/seed/{{ item.id }}/edit/">Edit</a>
              <a href="/seed/{{ item.id }}/">Show</a>
          </td>
        </tr>
      {% endfor %}
  </table>
  <a href="/seed/new">New Seed</a>
{% endblock %}