<div>
    <table>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>City</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Altitude</th>
            <th>Description</th>
        </tr>
        {% for item in items %}
        <tr>
            <td><a href="/location/{{ item.id }}">{{ item.name }}</a></td>
            <td>{{ item.state }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.latitude }}</td>
            <td>{{ item.longitude }}</td>
            <td>{{ item.altitude }}</td>
            <td>{{ item.desc }}</td>
        </tr>
        {% endfor %}
    </table>
</div>