<script type="text/javascript">
    $(document).ready( function () {
        $('#bug_table').DataTable();
    } );
</script>
<div>
    <table id="bug_table" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Family</th>
                <th>Genus</th>
                <th>Species</th>
                <th>Sub Species</th>
                <th>Variety</th>
                <th>Common Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><a href="/fauna/{{ item.id }}/">{{ item.name }}</a></td>
                <td><a href="/family/{{ item.family.id }}/">{{ item.family.name }}</a></td>
                <td><a href="/genus/{{ item.genus.id }}/">{{ item.genus.name }}</a></td>
                <td><a href="/species/{{ item.species.id }}/">{{ item.species.name }}</a></td>
                <td>{{ item.sub_species }}</td>
                <td>{{ item.variety }}</td>
                <td>{{ item.common_name }}</td>
                <td>{{ item.desc }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>