{% extends "base.html" %}
{% block body %}
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
  <ul>
      {% for message in messages %}
        <li>{{ message[1] }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <div class=form>
        <form action="" method="post">
            <div>
                <table>
                    <tr>
                        <td>{{ form.genus.label }}</td>
                        <td>{{ form.genus }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.species.label }}</td>
                        <td>{{ form.species }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.common_name.label }}</td>
                        <td>{{ form.common_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.desc.label }}</td>
                        <td>{{ form.desc }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.germination_code.label }}</td>
                        <td>{{ form.germination_code }}</td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
{% endblock %}